@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:wght@600&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 1.3rem;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}
.header{
    background-color: #636063;
    color: #fff;
    padding: 3rem;
    margin-bottom: 0.5rem;
}
.footer{
    background-color: #636063;
    color: #fff;
    font-size: 1em;
    text-align: center;
}
.fline{
    font-size: 3rem;
    text-align: center;
}
